.devise a {
  text-decoration: none;
  color: rgb(189, 189, 189);
}

input {
  box-shadow: none !important;
  caret-color: white;
  color: white;
  &:active {
    outline-style: none;
  }
  &:focus {
    color: white;
  }
}

textarea {
  box-shadow: none !important;
  caret-color: white;
  color: white;
  &:active {
    outline-style: none;
  }
  &:focus {
    color: white;
  }
}

.devise input {
  box-shadow: none !important;
  caret-color: white;
  color: white;
  &:active {
    outline-style: none;
  }
  &:focus {
    color: white;
  }
}

.devise textarea {
  box-shadow: none !important;
  caret-color: white;
  color: white;
  &:active {
    outline-style: none;
  }
  &:focus {
    color: white;
  }
}

label {
  color: rgb(170, 170, 170);
}
