<div class="container-fluid bg-image">
  <h1>Hello,Nancy</h1>
  <div class="d-flex justify-content-around ps-3 pe-3">
    <div class="d-flex flex-column">
      <% @outfits.each do |outfit| %>
        <% if outfit == @outfits.first %>
          <div class="pb-3">
            <%= cl_image_tag outfit.photos.first.key, crop: :fill, class: "card image1" %>
          </div>
        <% else %>
          <div class="pb-3">
            <%= cl_image_tag outfit.photos.first.key, crop: :fill, class: "card image2" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex flex-column">
      <% @outfits.each_with_index do |outfit,i| %>
        <% if outfit == @outfits.last %>
          <div class="pb-3">
            <%= cl_image_tag outfit.photos.first.key, crop: :fill, class: "card image1" %>
          </div>
        <% else %>
          <div class="pb-3">
            <%= cl_image_tag outfit.photos.first.key, crop: :fill, class: "card image2" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
