<div class="container-fluid bg-image">
  <div class="pt-5 mb-4 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-around mx-4">
      <i class="pe-2 pt-0 fa-solid fa-lg fa-location-dot" style="color: #ffffff;"></i>
      <p class="mb-0"><%= current_user.location %></p>
    </div>
    <div class="d-flex justify-content-around mx-4">
      <i class="pe-5 fa-solid fa-lg fa-calendar" style="color: #ffffff;"></i>
      <i class="fa-solid fa-lg fa-magnifying-glass" style="color: #ffffff;"></i>
    </div>
  </div>
  <h6>Your top choices for today</h6>
  <%= render partial: 'shared/outfits', object: @outfits %>
</div>
