<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom">
  <div class="container-fluid">
    <%= link_to weather_today_path do %>
      <i class="fa-solid fa-house fa-2xl"></i>
    <% end %>
    <%= link_to weather_forecast_path do %>
      <i class="fa-solid fa-sun fa-2xl"></i>
    <% end %>
    <label for="camera">
      <span class="btn">
        <i class="fa-solid fa-plus fa-2xl"></i>
        <input id="camera" class="d-none" type="file" accept="image/*" capture="environment">
      </span>
    </label>
    <%= link_to outfits_path do %>
      <i class="fa-solid fa-shirt fa-2xl"></i>
    <% end %>
    <%# TODO: this below needs to go the setting, not yet implemented %>
    <%= link_to weather_today_path do %>
      <i class="fa-solid fa-user fa-2xl"></i>
    <% end %>
  </div>
</div>
