<%= link_to outfit_path(outfit, page: params[:action]), class:"text-decoration-none" do %>
  <div class="pb-3">
    <%= cl_image_tag outfit.photos.first.key, crop: :fill, class: "card image2" %>
  </div>
<% end %>
