<div class="d-flex justify-content-around ps-3 pe-3">
  <div class="d-flex flex-column">
    <% @outfits.first(@outfits.count/2).each do |outfit| %>
      <% if outfit == @outfits.first(@outfits.count/2).first %>
        <%= render partial: 'shared/outfitsmall', locals: { outfit: outfit } %>
      <% else %>
        <%= render partial: 'shared/outfitlarge', locals: { outfit: outfit } %>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex flex-column">
    <% @outfits.last(@outfits.count-@outfits.count/2).each do |outfit| %>
      <% if outfit == @outfits.last(@outfits.count-@outfits.count/2).last %>
        <%= render partial: 'shared/outfitsmall', locals: { outfit: outfit } %>
      <% else %>
        <%= render partial: 'shared/outfitlarge', locals: { outfit: outfit } %>
      <% end %>
    <% end %>
  </div>
</div>
