<div class="d-flex justify-content-around">
  <div class="pt-3 mt-3">
    <img class="avatar-large" alt="avatar" src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YXZhdGFyfGVufDB8fDB8fHww&auto=format&fit=crop&w=1600&q=60">
  </div>
  <div class="d-flex flex-column mb-2">
    <h3 class="mb-3 my-0 ps-3 pt-4">Sarah</h3>
    <p class="btn light text-white">Edit Profile</p>
    <%= link_to "Logout", destroy_user_session_path, class:"btn light text-white", data: {turbo_method: :delete} %>
  </div>
</div>

<div class="d-flex mt-4 mb-0 ps-4">
  <div class="my-0 py-0 pb-0 pe-4">
    <i class="fa-solid fa-gear fa-lg" style="color: #ffffff;"></i>
  </div>
  <h3 class="my-0">My Outfits</h3>
</div>
<hr class="mt-1">

<div class="mt-2">
  <%= render partial: 'shared/outfits', object: @outfits %>
</div>
