<div class="container-fluid w-100 p-0 m-0">
  <div class="text-center pt-3 m-0 pb-3"><h1>Dailyfits</h1></div>
  <div class="mb-3">
    <%= image_tag("landing.jpg", width: "100%", height: "425")%>
  </div>
  <div class="text-center mb-2">
    <p class="m-0">What to wear?</p>
    <p class="m-0">Be your own advisor!</p>
  </div>
  <div class="d-flex justify-content-around mb-5 p-4">
    <a class="btn light text-white" href="/users/sign_in">Login</a>
    <a class="btn light text-white" href="/users/sign_up">Signup</a>
  </div>
</div>
