.image1 {
  border-radius: 5px;
  height: 150px;
  width: 160px;
  object-fit: cover;
}

.image2{
  border-radius: 5px;
  height: 200px;
  width: 160px;
  object-fit: cover;
}

.image3{
  // border-radius: 50px;
  height: 150px;
  width: 160px
}

.image4{
  // border-radius: 50px;
  height: 150px;
  width: 160px
}

.image5 {
  // border-radius: 30px;
  height: 150px;
  width: 160px
}

.image6{
  // border-radius: 50px;
  height: 150px;
  width: 160px
}
