.image1 {
  border-radius: 5px;
  height: 150px;
  width: 160px;
  object-fit: cover;
}

.image2 {
  border-radius: 5px;
  height: 200px;
  width: 160px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .image1 {
    height: 250px;
    width: 280px;
  }

  .image2 {
    height: 350px;
    width: 280px;
  }
}

