.navbar-lewagon {
  justify-content: space-around;
  background: transparent;
  height: 60px;
  backdrop-filter: blur(8px);
}

.container-fluid a {
  color: white;
}

.camera-btn {
  background-color: white;
  border-radius: 50%;
  color: rgb(2, 12, 40);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
